<section class="contact" id="contact">
    <div class="title reveal">
        <h2 class="section-title">Contact Me</h2>
    </div>
    <div class="content">
        <div class="row">
            <div class="card reveal">
                <div class="contact-icon">
                    <i class="fas fa-map-marker-alt"></i>
                </div>
                <div class="info">
                    <h3>Address</h3>
                    <span>Bangladesh,Bogura</span>
                </div>
            </div>
            <div class="card reveal">
                <div class="contact-icon">
                    <i class="fas fa-phone"></i>
                </div>
                <div class="info">
                    <h3>Phone</h3>
                    <span>+8801719******</span>
                </div>
            </div>
            <div class="card reveal">
                <div class="contact-icon">
                    <i class="fas fa-envelope"></i>
                </div>
                <div class="info">
                    <h3>Email Address</h3>
                    <span>fmehadi25@email.com</span>
                </div>
            </div>
            <div class="card reveal">
                <div class="contact-icon">
                    <i class="fas fa-globe"></i>
                </div>
                <div class="info">
                    <h3>Website</h3>
                    <span>mywebsite.com</span>
                </div>
            </div>
        </div>

        <div class="row">
            <form class="contact-form reveal" method="post" action="/contact">

                <h3>Send Message</h3>
                <div class="input-box">
                    <input type="text" placeholder="Name" name="name">
                </div>
                <div class="input-box">
                    <input type="email" name="email" placeholder="Email">
                </div>
                <div class="input-box">
                    <textarea name="message" rows="8" cols="80" placeholder="Message"></textarea>
                </div>
                <div class="input-box">
                    <input type="submit" class="send-btn" value="Send">


                </div>
            </form>
        </div>
    </div>
</section>